<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Requests</title>

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> <!-- For datepickers -->

		<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
		<script type="text/javascript" src="../assets/vue.js"></script>
		<script type="text/javascript" src="../assets/promise.min.js"></script>
		<script type="text/javascript" src="../assets/moment.min.js"></script>
		<script type="text/javascript" src="../assets/jquery-3.1.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- For datepickers -->
		<style type="text/css">
			body {background-color: palegreen}
			h1 {background-color: mediumslateblue}
			h2 {background-color: transparent}
			p {background-color: hotpink}
			p.no2 {background-color: gray; padding: 20px;}
		</style>
		<style>
			a:link {color:#FF0000;}
			a:visited {color:#FF0000;}
			a:hover {color:#FF00FF;}
			a:active {color:#0000FF;}
		</style>
		<style>
		table, td, th
        {
		border:1px solid green;
        }

        th
        {
		background-color:green;
        color:white;
        }
		</style>
	</head>
	<body>
		<h1>Fantasy Civics</h1>
		<p>User account stuffs</p>

		<a href="index.html">Home</a>
		<a href="#">App</a>
		<a href="roster.html">Roster</a>

		<h2>User Info</h2>
		<div>
			<!-- <p id="userid"></p> -->
			<p id="email"></p>
			<p id="name"></p>
			<!-- <img id="image" style="width:64px;height:64px;" alt="No Image"></img> -->
			<button  onclick="app.userLogout()">Logout</button>
		</div>

		<h2>Create Leagues</h2>	
		<a href="join.html"><button>Create a New League</button></a>
		<div id="newLeague" v-show="false"> <!-- Remove the v-show attribute to show container again -->
			<input v-model="sim" type="checkbox">
			<label>Simulation - Play a game using historic data (for debugging or demo purposes)</label>
			<h3>League Name: {{ name }}</h3>
			<input v-model="name" type="text" placeholder="League Name">
			<button v-on:click="getInviteURL" :disabled="(!name)? true : false">Start League</button>

			<div>
				<h3>Leagues you started</h3>
				<p>Invite your friends to join your leagues. When you have everyone, click Begin to start playing!</p>
				<ul>
					<li is="invite-list" v-for="(user, index) in users" v-bind:invite="user" v-on:pop="users.splice(index, 1)"></li>
				</ul>
			</div>

			<!-- <input v-model="invite" v-on:keyup.enter="inviteUsers" placeholder="Invite User"><br> -->

			<div id="datepicker" v-show="!sim">
				<input type="text" id="endGame" size="45" disabled>
			</div>
			<div v-show="sim">
				<label>From</label>
				<input type="text" id="startSim">
				<label>To</label>
				<input type="text" id="endSim">
			</div>

			<!-- <button v-on:click="inviteUsers" :disabled="(!invite)? true : false">Invite</button> -->
		</div>

		<h2>Current Leagues</h2>
		<div id="userLeagues">
			<p>With a league selected, go the roster page to start playing.</p>
			<table>
				<th>Status</th><th>Selection</th><th>League Name</th><th>Start</th><th>End</th><th>Users</th>
				<tr is="league-list" v-for="(league, index) in leagues" v-bind:row="league" v-on:select="loadLeague(index)"></tr>
			</table>
		</div>


		<!-- script -->

		<script type="text/javascript" src="../lib/util.js"></script>
		<script type="text/javascript" src="../database/player.js"></script>
		<script type="text/javascript" src="../database/league.js"></script>
		<script type="text/javascript" src="../database/scoring.js"></script>
		<script type="text/javascript" src="../database/auth.js"></script>
		<script type="text/javascript" src="../database/database.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript">
			
			// Instantiate app
			var app = InitApplication();
			app.getUser();
			app.displayUser();
			app.createLeague();
			app.displayUserLeagues();

		</script>
	</body>
</html>
