<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Requests</title>

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> <!-- For datepickers -->

		<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
		<script type="text/javascript" src="../assets/vue.js"></script>
		<script type="text/javascript" src="../assets/promise.min.js"></script>
		<script type="text/javascript" src="../assets/moment.min.js"></script>
		<script type="text/javascript" src="../assets/jquery-3.1.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- For datepickers -->
	</head>
	<body>
		<!-- Header -->
		<h1>Fantasy Civics</h1>
		<p>User account stuffs</p>

		<!-- Contents -->
		<a href="index.html">Home</a>
		<a href="#">App</a>
		<a href="roster.html">Roster</a>

		<h2>User Info</h2>
		<div>
			<!-- <p id="userid"></p> -->
			<p id="email"></p>
			<p id="name"></p>
			<!-- <img id="image" style="width:64px;height:64px;" alt="No Image"></img> -->
			<button onclick="Application().userLogout()">Logout</button>
		</div>

		<h2>Create Leagues</h2>
		<div id="newLeague">
			<h3>League Name: {{ name }}</h3>
			<input v-model="name" type="text" placeholder="League Name">
			<input v-model="invite" v-on:keyup.enter="inviteUsers" placeholder="Invite User"><br>

			<div id="datepicker">
				<input id="displayDate" type="text" size="45" disabled>
			</div>
			<!-- <div id="displayDate"></div> -->

			<button v-on:click="inviteUsers" :disabled="(!invite)? true : false">Invite</button>
			<button v-on:click="finalizeLeague" :disabled="(!name || !range)? true : false">Create League</button>
			<ul>
				<li is="invite-list" v-for="(user, index) in users" v-bind:invite="user" v-on:pop="users.splice(index, 1)"></li>
			</ul>
		</div>

		<h2>Current Leagues</h2>
		<div id="userLeagues">
			
			<table>
				<th>Info</th><th>League Name</th><th>Start</th><th>End</th><th>Users</th>
				<tr is="league-list" v-for="(league, index) in leagues" v-bind:row="league" v-on:info="loadLeague(index)"></tr>
			</table>
		</div>

		<!-- Footer -->

		<!-- script -->

		<script type="text/javascript" src="../lib/util.js"></script>
		<script type="text/javascript" src="../database/player.js"></script>
		<script type="text/javascript" src="../database/league.js"></script>
		<script type="text/javascript" src="../database/scoring.js"></script>
		<script type="text/javascript" src="../database/auth.js"></script>
		<script type="text/javascript" src="../database/database.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript">
			
			// Instantiate app
			var app = Application();
			app.getUser();
			app.displayUser();
			app.createLeague();
			app.displayUserLeagues();

		</script>
	</body>
</html>
