<!DOCTYPE html>
<html>
	<head>
		<title>Roster</title>

		<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
		<script type="text/javascript" src="../assets/vue.js"></script>
		<script type="text/javascript" src="../assets/promise.min.js"></script>
		<script type="text/javascript" src="../assets/moment.min.js"></script>
		<script type="text/javascript" src="../assets/jquery-3.1.1.min.js"></script>
		<script src="/jquery/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<h1>Roster</h1>
		<p>

		</p>
		<a href="index.html">Home</a>
		<a href="app.html">App</a>
		<a href="#">Roster</a>

		<h2>User Info</h2>
		<div>
			<!-- <p id="userid"></p> -->
			<p id="email"></p>
			<p id="name"></p>
			<!-- <img id="image" style="width:64px;height:64px;" alt="No Image"></img> -->
			<button onclick="Application().userLogout()">Logout</button>
		</div>
		<h2> userRoster</h2>
		<div id="userRoster">
			<table border="1">
				<tr>
					<th>Players</th><th>Graffiti</th><th>Pot Holes</th><th>Street Lights</th><th>Score</th><th>lineup</th><th>Actions</th><th>Pending</th>
				</tr>
				<tr is="roster-list" v-for="(player, index) in players" v-bind:row="player" v-bind:swap="players" v-on:toggle="togglePlayer(index)"></tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>

    <td></td>
    <td></td>
    <td>
        <select>
            <option value="Drop">Drop</option>
            <option value="Starting">Start</option>
            <option value="Bench">Bench</option>
        </select>
    </td>
				</tr>
			</table>
		</div>
        <h2>allPlayers</h2>>
		<div id="allPlayers">
			<table border="1">
				<th>Players</th><th>Graffiti</th><th>Pot Holes</th><th>Street Lights</th><th>Score</th><th>League</th><th>Actions</th><th>Pending</th>
				<tr is="player-list" v-for="(player, index) in players" v-bind:row="player" v-bind:swap="rosters" v-on:acquire="acquirePlayer(index)"></tr>

			</table>
		</div>

		<!-- script -->

		<script type="text/javascript" src="../lib/util.js"></script>
		<script type="text/javascript" src="../database/player.js"></script>
		<script type="text/javascript" src="../database/league.js"></script>
		<script type="text/javascript" src="../database/scoring.js"></script>
		<script type="text/javascript" src="../database/auth.js"></script>
		<script type="text/javascript" src="../database/database.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script src="/jquery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript">
			// Instantiate app
			var app = Application();
			app.getUser();
			app.displayUser();
			app.loadRosterPage();
			app.displayRoster();
			app.displayAllPlayers();
		</script>
	    <script type="text/javascript">
             function show_popup()
             {
             var p=window.createPopup()
             var pbody=p.document.body
             pbody.style.backgroundColor="lime"
             pbody.style.border="solid black 1px"
             pbody.innerHTML="Error! You must have 3 starting players and 2 bench players."
			 p.show(150,150,200,50,document.body)
             }
        </script>
	</body>
</html>